<!DOCTYPE html>
<html>

<head>
    <title>AngularJS To-Do App</title>
    <meta charset="utf-8" lang="en">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />'
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="todoApp">
    <div class="container text-center" ng-controller="mainController">
        <div class="jumbotron">
            <h1 class="display-3">To-Do App
                <span class="label label-primary">{{todosLength()}}</span>
            </h1>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form ng-submit="addTodo(); formText = '';">
                        <input type="text" class="form-control" placeholder="I want a pony..." ng-model="formText" />
                    </form>
                </div>
            </div>
        </div>
        <ul class="list-unstyled">
            <li ng-repeat="todo in todos">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" ng-model="todo.completed"> {{todo.text}}
                    </label>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-danger" ng-click="removeTodos()">Remove Selected</button>
    </div>
</body>

</html>
